[submodule "libultraship"]
	path = libultraship
	url = https://github.com/PatFromSplatt/libultraship.git
	branch = ios-lus-c57da1b4
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
